<header>
    <app-filter (onFilter)="onFilter($event)"></app-filter>
</header>
<div>
  <div>
      <h4>{{heroesService.heroesCount()}} heroes found</h4>
  </div>
    <button mat-flat-button color="primary" (click)="redirectToCreate()">Create new hero</button>
</div>
<section>
  <app-cards [heroes]="heroes"></app-cards>
</section>
<mat-paginator #paginator
               class="demo-paginator"
               (page)="handlePageEvent($event)"
               [length]="heroesService.heroesCount()"
               [pageSize]="pageSize"
               [pageIndex]="pageNumber()"
               aria-label="Select page">
</mat-paginator>
